html{
    background: white;
    color: black;
}
body {
    background-color: #333;
}
img {
    width: 200px;
    height: 200px;
}
h1 {
    color: #333;
}
li{
    color:red;
}
img{
    width: 200;
    height: 200;
}
figcaption {
    color: black;
}
table,th,tr,td,caption {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}
table {
    width: 50%;
    
}
td {
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
    color: red ;
}
thead {
    color: white;
}
tfoot {
    font-size: 25px;
    background-color: blueviolet;
    color: white;
}
th{
    font-size: 20px;
    background-color: coral;
}
caption {
    font-size: 25px;
    background-color: blueviolet;
    color: white;
}
summary {
    font-size: 20px;
}
.column {
    float: left;
    width: 30%;
    padding: 5px;
  }
  .row {
    float: left;
    width: 30%;
    padding: 5px;
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  .backtotop {
    text-align: left;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: grey;
  }
  #top {
    background-color: black;
  }
  li {
    padding: 0.5rem;
font-size: 20px;
  }
  footer {
    background-color: blue;
  }
  .footqoute {
    color:red;
    text-align: center;
  }
  a {
    font-size: 25px;
  }
main {
    background-color:blueviolet;
}
  
